@charset "EUC-KR";

body {
	background: #F2EEE9;
}

#name {
	color: #2b303b;
	text-align: center;
	font-size: 45px;
	font-family: Arial;
}

#primary_nav_wrap {
	background: #ddd;
	position: absolute;
	top: 150px;
	left: 50px;
}

#primary_nav_wrap ul {
	list-style: none;
	position: relative;
	float: left;
	margin: 0;
	padding: 0
}

#primary_nav_wrap ul a {
	display: block;
	color: #333;
	text-decoration: none;
	font-weight: 700;
	font-size: 12px;
	line-height: 32px;
	padding: 0 15px;
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
		sans-serif
}

#primary_nav_wrap ul li {
	position: relative;
	float: left;
	margin: 0;
	padding: 0
}

#primary_nav_wrap ul li:hover {
	background: #f6f6f6
}

#primary_nav_wrap ul ul {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background: #fff;
	padding: 0
}

#primary_nav_wrap ul ul li {
	float: none;
	width: 200px
}

#primary_nav_wrap ul ul a {
	line-height: 120%;
	padding: 10px 15px
}

#primary_nav_wrap ul ul ul {
	top: 0;
	left: 100%
}

#primary_nav_wrap ul li:hover>ul {
	display: block
}

.box {
	margin: 100px 600px;
	width: 500px;
	height: 50px;
	
}

.container-4 {
	overflow: hidden;
	width: 700px;
	vertical-align: middle;
	white-space: nowrap;
}

.container-4 input#search {
	width: 300px;
	height: 50px;
	background: #2b303b;
	border: none;
	font-size: 10pt;
	float: left;
	color: #fff;
	padding-left: 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.container-4 input#search::-webkit-input-placeholder {
	color: #65737e;
}

.container-4 input#search:-moz-placeholder {
	color: #65737e;
}

.container-4 input#search::-moz-placeholder {
	color: #65737e;
}

.container-4 input#search:-ms-input-placeholder {
	color: #65737e;
}

.container-4 button.icon {
	position: static;
	outline: none;
	opacity: 1;
	margin: -50px 400px;
	border: none;
	background: #232833;
	height: 50px;
	width: 50px;
	color: #4f5b66;
	opacity: 0;
	font-size: 10pt;
	-webkit-transition: all .55s ease;
	-moz-transition: all .55s ease;
	-ms-transition: all .55s ease;
	-o-transition: all .55s ease;
	transition: all .55s ease;
}

.container-4:hover button.icon, .container-4:active button.icon,
	.container-4:focus button.icon {
	position: static;
	outline: none;
	opacity: 1;
	margin: -50px 400px;
}

.container-4:hover button.icon:hover {
	background: white;
}

.items {
	display: block;
	margin: 10px 40px 30px 40px;
}

.item {
	background-color: #fff;
	float: left;
	margin: 0 10px 10px 0;
	width: 205px;
	padding: 10px;
	height: 290px;
}

.item img {
	display: block;
	margin: auto;
}

h2 {
	font-size: 16px;
	display: block;
	border-bottom: 1px solid #ccc;
	margin: 0 0 10px 0;
	padding: 0 0 5px 0;
}

button {
	border: 1px solid #722A1B;
	padding: 4px 14px;
	background-color: #fff;
	color: #722A1B;
	text-transform: uppercase;
	float: right;
	margin: 5px 0;
	font-weight: bold;
	cursor: pointer;
}

span {
	float: right;
}

.shopping-cart {
	display: inline-block;
	background:
		url('http://cdn1.iconfinder.com/data/icons/jigsoar-icons/24/_cart.png')
		no-repeat 0 0;
	width: 24px;
	height: 24px;
	margin: 0 10px 0 0;
}