body {
  background: #F2EEE9;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  color: black;
  font-size: 16px;
  overflow-y: scroll;
}

#expand {
	
  cursor: pointer;
}

#coolstuff 
{
	
  display: none;
}

#container {
	
  width: 100%;
  max-width: 800px;
  margin: auto;
  text-align: center;
}

ul {
  text-align: left;
}

hr {
  border-color: black;
  border-bottom: 0;
}

table {
	
  width: 100%;
  margin: auto;
  text-align: center;
}

tr {
	
  padding: 0;
  margin: 0;
  border: 0;
}

td {
  no-border-top: 1px black;
  padding: 5px 2px;
}

.image {
  width: 150px;
}

.image > img {
  width: 100%;
  background: #F2EEE9;
  border-radius: 2px;
  box-shadow: #F2EEE9;
  a-border: 1px solid black;
}

.amount {
  width: 50px;
}

.amount > input {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  color: black;
  font-size: 16px;
  background: transparent;
  border: none;
  width: 100%;
  text-align: center;
  outline: none;
}

.remove {
  width: 30px;
}

.remove > div {
  border-radius: 10px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  padding: 2px;
  transition: background .3s, border .3s, transform .3s;
  cursor: pointer;
  text-align: center;
  margin: auto;
  border: 1px solid black;
}

.remove.hey > div {
  background: red;
  border-color: red;
  transform: scale(1.3);
}

.remove:hover > div {
  background: red;
  border-color: red;
}

.big {
  font-size: 2em;
  font-weight: bold;
}

#Home {
  padding: 10px;
  font-size: 16px;
  color: white;
  display: inline-block;
  margin: 2px;
  border-radius: 3px;
  text-align: center;
  transition: background 0.2s;
  background: #0a8f6c;
  cursor: pointer;
}

#Home > span {
  width: 0;
  display: inline-block;
  overflow: hidden;
  transition: width .3s;
  text-align: right;
}

#Home:hover > span {
  width: 20px;
}

#footer {
  opacity: 0.6;
  border-top: 1px solid black;
  padding-top: 10px;
  text-align: center;
  margin-top: 15px;
}

#footer a {
  color: black;
}
  table {
    width: 100%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
  }
  th, td {
    border-bottom: 1px solid #444444;
    padding: 10px;
  }
